# Ques-1 :Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name,experience_required. You have to scrape first 10 jobs data.¶

In [517]:
#Importing libraries to perform web_scraping
#!pip install BeautifulSoup4
from bs4 import BeautifulSoup
import requests

In [1]:
#Importing libraries to perform web_scraping
import selenium 
import pandas as pd
from selenium import webdriver

In [15]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [3]:
#specifying the url of the webpage which we want to scarpe
url="https://www.naukri.com/data-analyst-jobs-in-banglore?k=data%20analyst&l=banglore"

In [4]:
#opening the web driver using the web_driver
driver.get(url)

In [5]:
Job_titles=[]
Job_Locations=[]
Company_name=[]
experince_list=[]

In [6]:
#extracting the Job title web element from the webpage
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [7]:
titles[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8dbe8ef316333ae31f17c5fe825f9a29", element="1e0a3a3b-4655-4d2e-8efa-d00570e9d221")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8dbe8ef316333ae31f17c5fe825f9a29", element="f7b92c44-fd41-4d6b-abd1-9b7f7f8a1773")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8dbe8ef316333ae31f17c5fe825f9a29", element="f2ebfc44-f205-4d62-9f58-0bd78c7fa77d")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8dbe8ef316333ae31f17c5fe825f9a29", element="e4118245-127d-4a45-9f58-849f043cb246")>]

In [8]:
#Extracting the first 10 jobs title 
n_titles=titles[0:10]

In [9]:
#as we have saved the web element above from which we want to scrape the job title

#implementing the loop to the web element extracted above and taking out the text present in it
for i in n_titles:
    title=i.text
    Job_titles.append(title)

In [10]:
#checking wether the job title extracted above is correct or not
Job_titles[0:10]

['Immediate opening For Data Scientist/Data Analyst',
 'Hiring Data Analysts',
 'Hiring Data Analysts',
 'Data Analyst',
 'Business Data Analyst',
 'Data Analyst ( Predictive Modelling)',
 'Data Scientist / Data Analyst',
 'Data Analyst',
 'NiFi Data Analyst',
 'NiFi Data Analyst']

In [11]:
#extracting the Location web element from the webpage
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [12]:
location[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="8dbe8ef316333ae31f17c5fe825f9a29", element="7d592f27-15f6-4fda-afe4-a31106569e66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8dbe8ef316333ae31f17c5fe825f9a29", element="7a90391b-f413-4f1e-9176-e6be8a0a8e8a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8dbe8ef316333ae31f17c5fe825f9a29", element="c6b1785d-4d36-470e-9029-3488f8380204")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8dbe8ef316333ae31f17c5fe825f9a29", element="92480b9f-55ae-45f5-a247-2fb2f59c2b5b")>]

In [13]:
#Extracting the first 10 jobs location title 
n_location=location[0:10]

In [14]:
#as we have saved the web element above from which we want to scrape the job Location

#implementing the loop to the web element extracted above and taking out the text present in it
for i in n_location:
    locate=i.text
    Job_Locations.append(locate)

In [15]:
Job_Locations[0:10]

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Pune, Delhi, Mumbai, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru']

In [16]:
#extracting the Comapny_Name web element from the webpage
co_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [17]:
co_name[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="8dbe8ef316333ae31f17c5fe825f9a29", element="b67e70ca-10e4-47db-9989-518ed563eaf0")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8dbe8ef316333ae31f17c5fe825f9a29", element="5c2fd2bd-ac16-489f-b341-3c533a47dfda")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8dbe8ef316333ae31f17c5fe825f9a29", element="914f600f-9eba-4793-9de3-662cb6382f43")>]

In [18]:
#Extracting the first 10 Company name 
n_name=co_name[0:10]

In [19]:
#as we have saved the web element above from which we want to scrape the Company name

#implementing the loop to the web element extracted above and taking out the text present in it
for i in n_name:
    name_=i.text
    Company_name.append(name_)

In [20]:
#extracting the Experience web element from the webpage
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [21]:
exp[0:3]

[<selenium.webdriver.remote.webelement.WebElement (session="8dbe8ef316333ae31f17c5fe825f9a29", element="d0d2f8aa-1f83-4da8-99bb-1cc2fcd0c6bd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8dbe8ef316333ae31f17c5fe825f9a29", element="4405c2ce-4f07-4899-8ae7-64ba2c28f442")>,
 <selenium.webdriver.remote.webelement.WebElement (session="8dbe8ef316333ae31f17c5fe825f9a29", element="fe526214-02ca-4f8a-9ed8-94bce0e3d022")>]

In [22]:
#Extracting the first 10 Experince list
n_exp=exp[0:10]

In [23]:
#as we have saved the web element above from which we want to scrape the Experience

#implementing the loop to the web element extracted above and taking out the text present in it
for i in n_exp:
    exp_=i.text
    experince_list.append(exp_)

In [24]:
#Crating a dataframe to store Job details
Naukari_df=pd.DataFrame({})

In [25]:
#storing the job details in data frame
Naukari_df['Company_name']=Company_name
Naukari_df['Job_titles']=Job_titles
Naukari_df['Loaction']=Job_Locations
Naukari_df['Experience']=experince_list

In [26]:
Naukari_df

,Company_name,Job_titles,Loaction,Experience
0,CAIA-Center For Artificial Intelligence & Adva...,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",0-3 Yrs
1,Flipkart Internet Private Limited,Hiring Data Analysts,Bengaluru,2-5 Yrs
2,Flipkart Internet Private Limited,Hiring Data Analysts,Bengaluru,2-5 Yrs
3,Cognizant Technology Solutions India Ltd,Data Analyst,Bengaluru,2-3 Yrs
4,GENPACT India Private Limited,Business Data Analyst,Bengaluru,3-6 Yrs
5,AVE-Promagne,Data Analyst ( Predictive Modelling),Bengaluru,2-5 Yrs
6,Altimetrik India Pvt. Ltd,Data Scientist / Data Analyst,Bengaluru,3-8 Yrs
7,Thinkbumblebee Analytics Pvt Ltd,Data Analyst,"Pune, Delhi, Mumbai, Bengaluru, Hyderabad",3-6 Yrs
8,Capgemini Technology Services India Limited,NiFi Data Analyst,Bengaluru,4-6 Yrs
9,Capgemini Technology Services India Limited,NiFi Data Analyst,Bengaluru,6-9 Yrs

In [27]:
driver.close()

# Ques-2- Write a python program to scrape data for “Data Scientist” Job position in“Bangalore” location. You have to scrape the job-title, job-location,company_name, full job-description. You have to scrape first 10 jobs data

In [3]:
url_list=[]

In [4]:
url_list.append("https://www.naukri.com/job-listings-immediate-opening-for-data-scientist-data-analyst-caia-center-for-artificial-intelligence-advanced-analytics-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-3-years-210920000599?src=jobsearchDesk&sid=16071840593591586&xp=1&px=1")
url_list.append("https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bengaluru-bangalore-6-to-11-years-271120902143?src=jobsearchDesk&sid=16072297070276226&xp=2&px=1")
url_list.append("https://www.naukri.com/job-listings-data-scientist-data-analyst-altimetrik-india-pvt-ltd-bengaluru-bangalore-3-to-8-years-261120500590?src=jobsearchDesk&sid=16072297070276226&xp=3&px=1")
url_list.append("https://www.naukri.com/job-listings-explore-openings-on-data-scientist-bristlecone-india-limited-pune-mumbai-bengaluru-bangalore-4-to-9-years-141020003338?src=jobsearchDesk&sid=16072297070276226&xp=4&px=1")
url_list.append("https://www.naukri.com/job-listings-senior-principal-software-engineer-it-data-scientist-dell-international-services-indiaprivate-limited-bengaluru-bangalore-10-to-15-years-251120902181?src=jobsearchDesk&sid=16072297070276226&xp=5&px=1")
url_list.append("https://www.naukri.com/job-listings-senior-data-scientist-philips-lighting-bengaluru-bangalore-6-to-10-years-271120501144?src=jobsearchDesk&sid=16072297070276226&xp=6&px=1")
url_list.append("https://www.naukri.com/job-listings-machine-learning-lead-data-scientist-morgan-stanley-advantage-services-pvt-ltd-bengaluru-bangalore-4-to-6-years-251120500011?src=jobsearchDesk&sid=16072297070276226&xp=7&px=1")
url_list.append("https://www.naukri.com/job-listings-global-medical-data-scientist-glaxosmithkline-pharmaceuticals-limited-bengaluru-bangalore-5-to-9-years-281120000220?src=jobsearchDesk&sid=16072297070276226&xp=8&px=1")
url_list.append("https://www.naukri.com/job-listings-advanced-architect-data-scientist-mphasis-limited-bengaluru-bangalore-12-to-18-years-051220900856?src=jobsearchDesk&sid=16072297070276226&xp=9&px=1")
url_list.append("https://www.naukri.com/job-listings-principal-data-scientist-philips-lighting-bengaluru-bangalore-10-to-15-years-021220501156?src=jobsearchDesk&sid=16072297070276226&xp=10&px=1")

In [5]:
url_list

['https://www.naukri.com/job-listings-immediate-opening-for-data-scientist-data-analyst-caia-center-for-artificial-intelligence-advanced-analytics-chennai-pune-bengaluru-bangalore-hyderabad-secunderabad-0-to-3-years-210920000599?src=jobsearchDesk&sid=16071840593591586&xp=1&px=1',
 'https://www.naukri.com/job-listings-lead-data-scientist-machine-learning-data-mining-wrackle-technologies-pvt-ltd-bengaluru-bangalore-6-to-11-years-271120902143?src=jobsearchDesk&sid=16072297070276226&xp=2&px=1',
 'https://www.naukri.com/job-listings-data-scientist-data-analyst-altimetrik-india-pvt-ltd-bengaluru-bangalore-3-to-8-years-261120500590?src=jobsearchDesk&sid=16072297070276226&xp=3&px=1',
 'https://www.naukri.com/job-listings-explore-openings-on-data-scientist-bristlecone-india-limited-pune-mumbai-bengaluru-bangalore-4-to-9-years-141020003338?src=jobsearchDesk&sid=16072297070276226&xp=4&px=1',
 'https://www.naukri.com/job-listings-senior-principal-software-engineer-it-data-scientist-dell-international-services-indiaprivate-limited-bengaluru-bangalore-10-to-15-years-251120902181?src=jobsearchDesk&sid=16072297070276226&xp=5&px=1',
 'https://www.naukri.com/job-listings-senior-data-scientist-philips-lighting-bengaluru-bangalore-6-to-10-years-271120501144?src=jobsearchDesk&sid=16072297070276226&xp=6&px=1',
 'https://www.naukri.com/job-listings-machine-learning-lead-data-scientist-morgan-stanley-advantage-services-pvt-ltd-bengaluru-bangalore-4-to-6-years-251120500011?src=jobsearchDesk&sid=16072297070276226&xp=7&px=1',
 'https://www.naukri.com/job-listings-global-medical-data-scientist-glaxosmithkline-pharmaceuticals-limited-bengaluru-bangalore-5-to-9-years-281120000220?src=jobsearchDesk&sid=16072297070276226&xp=8&px=1',
 'https://www.naukri.com/job-listings-advanced-architect-data-scientist-mphasis-limited-bengaluru-bangalore-12-to-18-years-051220900856?src=jobsearchDesk&sid=16072297070276226&xp=9&px=1',
 'https://www.naukri.com/job-listings-principal-data-scientist-philips-lighting-bengaluru-bangalore-10-to-15-years-021220501156?src=jobsearchDesk&sid=16072297070276226&xp=10&px=1']

In [6]:
Data_Job_titles=[]
Data_Job_Locations=[]
Data_Company_name=[]
Data_Job_description=[]

In [44]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [20]:
for i in url_list[0:11]:
    driver.get(i)
    #extracting the Job title web element from the webpage
    for j in driver.find_elements_by_xpath("//h1[@class='jd-header-title']"):
        a=j.text
        print(a)
        Data_Job_titles.append(a)

Immediate opening For Data Scientist/Data Analyst
Lead Data Scientist - Machine Learning/ Data Mining
Data Scientist / Data Analyst
Explore job openings on Data Scientist!!
Senior Principal Software Engineer - IT ( Data Scientist )
Senior Data Scientist
Machine Learning Lead / Data Scientist
Principal Data Scientist

In [21]:
#as two of the job title lies in other class extracting them using different loop
for i in url_list[0:11]:
    driver.get(i)
    for k in driver.find_elements_by_xpath("//h1[@class='av-special-heading-tag ']"):
        a=k.text
        print(a)
        Data_Job_titles.append(a)

GLOBAL MEDICAL DATA SCIENTIST
ADVANCED ARCHITECT – DATA SCIENTIST

In [41]:
print(len(Data_Job_titles))

10

In [45]:
#extracting the job Location web element from the webpage
for i in url_list[0:11]:
    driver.get(i)
    for j in driver.find_elements_by_xpath("//span[@class='location ']"):
        a=j.text
        print(a)
        Data_Job_Locations.append(a)

Chennai, Pune, Bengaluru, Hyderabad
Bengaluru
Bengaluru
Pune, Mumbai, Bengaluru
Bengaluru
Bengaluru
Bengaluru
Bengaluru

In [46]:
#as two of the job lies in other class extracting them using different loop
for i in url_list[0:11]:
    driver.get(i)
    for k in driver.find_elements_by_xpath("//span[@class='slide-meta-loc pull-left']"):
        a=k.text
        print(a)
        Data_Job_Locations.append(a)

Bengaluru
Bengaluru

In [51]:
print(len(Data_Job_Locations))

10

In [52]:
#extracting the Comapny_name web element from the webpage
for i in url_list[0:11]:
    driver.get(i)
    for j in driver.find_elements_by_xpath("//a[@class='pad-rt-8']"):
        a=j.text
        print(a)
        Data_Company_name.append(a)

CAIA-Center For Artificial Intelligence & Advanced Analytics

Wrackle Technologies Pvt Ltd

Altimetrik India Pvt. Ltd

Bristlecone India Limited

Dell International Services IndiaPrivate Limited

Philips Lighting

Morgan Stanley Advantage Services

Philips Lighting

In [53]:
#as two of the job lies in other class extracting them using different loop
for i in url_list[0:11]:
    driver.get(i)
    for k in driver.find_elements_by_xpath("//p[@class='cpName f14']"):
        a=k.text
        print(a)
        Data_Company_name.append(a)

GlaxoSmithKline Pharmaceuticals Limited
Mphasis Limited

In [70]:
print(len(Data_Company_name))

10

In [71]:
#extracting the first job Job_description web element from the webpage
for i in url_list[0:11]:
    driver.get(i)
    for j in driver.find_elements_by_xpath("//div[@class='dang-inner-html']"):
        a=j.text
        Data_Job_description.append(a)

In [72]:
#as two of the job lies in other class extracting them using different loop
for i in url_list[0:11]:
    driver.get(i)
    for k in driver.find_elements_by_xpath("//div[@class='clearboth description']"):
        a=k.text
        Data_Job_description.append(a)

In [73]:
print(len(Data_Job_description))

10

In [78]:
#Crating a dataframe to store Job details
scientist_df=pd.DataFrame({})

In [79]:
#storing the job details in data frame
scientist_df['Company_name']=Data_Company_name
scientist_df['Job Titles']=Data_Job_titles
scientist_df['Loaction']=Data_Job_Locations
scientist_df['Job Description']=Data_Job_description

In [80]:
scientist_df

,Company_name,Job Titles,Loaction,Job Description
0,CAIA-Center For Artificial Intelligence & Adva...,Immediate opening For Data Scientist/Data Analyst,"Chennai, Pune, Bengaluru, Hyderabad",Dear Candidate\n\nSchedule a Telephonic Interv...
1,Wrackle Technologies Pvt Ltd,Lead Data Scientist - Machine Learning/ Data M...,Bengaluru,Roles and Responsibilities\nRequirements :\n\n...
2,Altimetrik India Pvt. Ltd,Data Scientist / Data Analyst,Bengaluru,"3+ years of data science,\ndata analytics, or ..."
3,Bristlecone India Limited,Explore job openings on Data Scientist!!,"Pune, Mumbai, Bengaluru",JOB DESCRIPTION\n\nExp 4+ years\n\n1) Hands-on...
4,Dell International Services IndiaPrivate Limited,Senior Principal Software Engineer - IT ( Data...,Bengaluru,"Key Responsibilities\n\nYou will be applying, ..."
5,Philips Lighting,Senior Data Scientist,Bengaluru,We re on the lookout for forward-thinking inno...
6,Morgan Stanley Advantage Services,Machine Learning Lead / Data Scientist,Bengaluru,The Technology & Operations Risk (TOR) organiz...
7,Philips Lighting,Principal Data Scientist,Bengaluru,We re looking for a Principal Data Scientist t...
8,GlaxoSmithKline Pharmaceuticals Limited,GLOBAL MEDICAL DATA SCIENTIST,Bengaluru,Roles and Responsibilities\nThe Global (Medic...
9,Mphasis Limited,ADVANCED ARCHITECT – DATA SCIENTIST,Bengaluru,Job description\nWe are looking for a Data Sci...

In [81]:
driver.close()

# Ques-3-

In [94]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [95]:
url_3="https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?k=data%20scientist&l=delhi%2Fncr&cityType=25.9.31&ctcFilter=3to6"

In [96]:
driver.get(url_3)

In [97]:
Delhi_Job_titles=[]
Delhi_Job_Locations=[]
Delhi_Company_name=[]
Delhi_experince_list=[]

In [98]:
#extracting the Job title web element from the webpage
titles=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

In [99]:
#Extracting the first 10 jobs title 
n_titles=titles[0:10]

In [102]:
#as we have saved the web element above from which we want to scrape the job title

#implementing the loop to the web element extracted above and taking out the text present in it
for i in n_titles:
    title=i.text
    print(title)
    Delhi_Job_titles.append(title)

Tech Mahindra Hiring For Data Scientist- Hyderabad/ Noida
Data Scientist - Python/Machine Learning
Data Scientist
Only Fresher / Data Scientist / Data Analyst / Business Analytics- MNC
Only Fresher / Data Scientist / Data Analyst / Business Analytics- MNC
Data Scientist
Lead Data Scientist
Excellent opportunity For Lead Data Scientist at Noida location
Lead Data Scientist
Excellent opportunity For Lead Data Scientist at Noida location

In [103]:
print(len(Delhi_Job_titles))

10

In [104]:
#extracting the Location web element from the webpage
location=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")

In [106]:
#Extracting the first 10 jobs location title 
n_location=location[0:10]

In [107]:
#as we have saved the web element above from which we want to scrape the job Location

#implementing the loop to the web element extracted above and taking out the text present in it
for i in n_location:
    locate=i.text
    Delhi_Job_Locations.append(locate)

In [108]:
print(len(Delhi_Job_Locations))

10

In [109]:
#extracting the Comapny_Name web element from the webpage
co_name=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

In [110]:
#Extracting the first 10 Company name 
n_name=co_name[0:10]

In [112]:
#as we have saved the web element above from which we want to scrape the Company name

#implementing the loop to the web element extracted above and taking out the text present in it
for i in n_name:
    name_=i.text
    Delhi_Company_name.append(name_)

In [113]:
print(len(Delhi_Company_name))

10

In [114]:
#extracting the Experience web element from the webpage
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")

In [115]:
#Extracting the first 10 Experince list
n_exp=exp[0:10]

In [116]:
#as we have saved the web element above from which we want to scrape the Experience

#implementing the loop to the web element extracted above and taking out the text present in it
for i in n_exp:
    exp_=i.text
    Delhi_experince_list.append(exp_)

In [118]:
Delhi_job_df=pd.DataFrame({})

In [119]:
Delhi_job_df['Job_Title']=Delhi_Job_titles
Delhi_job_df['Comapny_Name']=Delhi_Company_name
Delhi_job_df['Location']=Delhi_Job_Locations
Delhi_job_df['Experience']= Delhi_experince_list

In [120]:
Delhi_job_df

,Job_Title,Comapny_Name,Location,Experience
0,Tech Mahindra Hiring For Data Scientist- Hyder...,tech mahindra ltd,"Hyderabad, Noida",3-8 Yrs
1,Data Scientist - Python/Machine Learning,Jubna,Noida,5-8 Yrs
2,Data Scientist,IBM India Pvt. Limited,Gurgaon Gurugram,4-8 Yrs
3,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Delhi NCR, Noida, Gurgaon",0-0 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Delhi NCR, Greater Noida, Noida",0-0 Yrs
5,Data Scientist,Air Asia India Limited,"Delhi NCR, Gurgaon",1-4 Yrs
6,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR, Noida(Sector-142 Noida)",9-14 Yrs
7,Excellent opportunity For Lead Data Scientist ...,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR(Sector-142 Noida), Noida",9-14 Yrs
8,Lead Data Scientist,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR, Noida(Sector-142 Noida)",9-14 Yrs
9,Excellent opportunity For Lead Data Scientist ...,NEC CORPORATION INDIA PRIVATE LTD,"Delhi NCR(Sector-142 Noida), Noida",9-14 Yrs

In [121]:
driver.close()

# Ques-4- Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company

In [124]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [125]:
url_4="https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"

In [126]:
driver.get(url_4)

In [127]:
Company_name=[]
Rating=[]
Job_posted=[]

In [167]:
name=driver.find_elements_by_xpath("//a[@class=' css-10l5u4p e1n63ojh0 jobLink']/span[1]")

In [168]:
name[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="119b80024d3bf6eb3ce7c5a1e728c4ea", element="5da300f8-d263-43ab-b818-bcdc82f8ccbc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="119b80024d3bf6eb3ce7c5a1e728c4ea", element="e2cc3067-f858-4324-8ac4-ccd60d0264ff")>,
 <selenium.webdriver.remote.webelement.WebElement (session="119b80024d3bf6eb3ce7c5a1e728c4ea", element="18cf2c56-5a0d-4448-9990-22aae251d873")>,
 <selenium.webdriver.remote.webelement.WebElement (session="119b80024d3bf6eb3ce7c5a1e728c4ea", element="539432bd-ee64-485b-b6ee-aeec6e9e1d7b")>]

In [169]:
name_=name[0:10]

In [170]:
#as we have saved the web element above from which we want to scrape the job title

#implementing the loop to the web element extracted above and taking out the text present in it
for i in name_:
    _name=i.text
    Company_name.append(_name)

In [171]:
days=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

In [172]:
n_days=days[0:10]

In [173]:
#as we have saved the web element above from which we want to scrape the job title

#implementing the loop to the web element extracted above and taking out the text present in it
for i in n_days:
    _days=i.text
    Job_posted.append(_days)

In [174]:
rate=driver.find_elements_by_xpath("//div[@class='d-flex flex-column css-fbt9gv e1rrn5ka2']/span[1]")

In [175]:
rate[0:1]

In [176]:
n_rate=rate[0:10]

In [177]:
#as we have saved the web element above from which we want to scrape the job title

#implementing the loop to the web element extracted above and taking out the text present in it
for i in n_rate:
    _days=i.text
    print(_days)
    Rating.append(_days)

4
3.8
4.3
3.4
3.7
4
3.6
3.8
5
3.8

In [178]:
print(len(Company_name),len(Job_posted),len(Rating))

10 10 10

In [179]:
glassdoor_df=pd.DataFrame({})

In [180]:
glassdoor_df['Company_name']=Company_name
glassdoor_df['Job_posted']=Job_posted
glassdoor_df['Rating']=Rating

In [181]:
glassdoor_df

                      Company_name Job_posted Rating
0                              IBM        24h      4
1                          Genpact        17d    3.8
2                           Amazon         4d    4.3
3                      GroundTruth         5d    3.4
4                         Brickred         8d    3.7
5                  Mahajan Imaging        17d      4
6                              GLG        24d    3.6
7                          Genpact        17d    3.8
8  ANI Calls India Private Limited         6d      5
9                          itForte        17d    3.8

In [183]:
driver.close()

# Ques-5- Write a python program to scrape the salary data for Data Scientist designation in Noida location.

In [184]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [185]:
url_5="https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"

In [186]:
driver.get(url_5)

In [187]:
Company_name=[]
min_salary=[]
Avg_salary=[]
max_salary=[]

In [237]:
No_fo_salary=[]

In [252]:
min_max_salary=[]

In [188]:
_name=driver.find_elements_by_xpath("//p[@class='m-0']")

In [189]:
_name[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="683a230999e70120e2f015addd1205f6", element="d53f2388-8d1a-4793-961e-4a25de011892")>,
 <selenium.webdriver.remote.webelement.WebElement (session="683a230999e70120e2f015addd1205f6", element="bcf4a1de-f7c5-4d3c-99f8-2171dff2782f")>]

In [198]:
_n_name=_name[0:30]

In [201]:
for i in _n_name:
    name=i.text
    Company_name.append(name)

In [202]:
Company_name

['Data Scientist',
 'Delhivery',
 'See 13 salaries from all locations',
 'Data Scientist',
 'Accenture',
 'See 31 salaries from all locations',
 'Data Scientist',
 'IBM',
 'See 62 salaries from all locations',
 'Data Scientist',
 'Ericsson-Worldwide',
 'See 18 salaries from all locations',
 'Data Scientist',
 'UnitedHealth Group',
 'See 12 salaries from all locations',
 'Data Scientist - Monthly Intern',
 'Analytics Vidhya',
 'See 8 salaries from all locations',
 'Data Scientist',
 'Tata Consultancy Services',
 'See 69 salaries from all locations',
 'Data Scientist',
 'Cognizant Technology Solutions',
 'See 40 salaries from all locations',
 'Data Scientist',
 'Valiance Solutions',
 'See 10 salaries from all locations',
 'Data Scientist - Monthly Intern',
 'Vidooly Media Tech',
 'See 10 salaries from all locations']

In [233]:
#As there are three web element with same tag and class name poping unwanted element out
Company_name.pop(10)

'See 10 salaries from all locations'

In [235]:
len(Company_name)

10

In [238]:
no_sal=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0']")

In [239]:
no_sal[0:2]

[<selenium.webdriver.remote.webelement.WebElement (session="683a230999e70120e2f015addd1205f6", element="f2a88a05-afc5-4fbe-a0e1-570a45d71e19")>,
 <selenium.webdriver.remote.webelement.WebElement (session="683a230999e70120e2f015addd1205f6", element="083957eb-0ed5-4fac-bd05-80fdd42be54e")>]

In [240]:
n_sal=no_sal[0:10]

In [242]:
for i in n_sal:
    sal=i.text
    print(sal)
    No_fo_salary.append(sal)

12 salaries
9 salaries
7 salaries
7 salaries
7 salaries
7 salaries
6 salaries
6 salaries
6 salaries
6 salaries

In [244]:
len(No_fo_salary)

10

In [245]:
min_sal=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']")

In [246]:
n_sal=min_sal[0:10]

In [253]:
for i in n_sal:
    sal=i.text
    print(sal)
    min_max_salary.append(sal)

₹705K
₹11,495K
₹571K
₹2,200K
₹580K
₹2,700K
₹468K
₹1,595K
₹708K
₹1,557K
₹14K
₹22K
₹488K
₹1,000K
₹784K
₹1,250K
₹496K
₹1,138K
₹8K
₹20K

In [255]:
a_sal=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong[1]")

In [257]:
a_sal[0:1]

In [258]:
n_sal=a_sal[0:10]

In [259]:
for i in n_sal:
    sal=i.text
    print(sal)
    Avg_salary.append(sal)

₹ 12,83,026
₹ 11,19,272
₹ 7,52,445
₹ 8,28,000
₹ 13,21,601
₹ 20,889
₹ 6,33,432
₹ 9,96,446
₹ 7,71,320
₹ 12,669

In [260]:
Salary_df=pd.DataFrame({})

In [261]:
Salary_df["Company_Nmae"]=Company_name
Salary_df["No_of_Salaries"]=No_fo_salary
Salary_df["Min-Max_Salary"]=min_max_salary
Salary_df["Average_Salary"]=Avg_salary

In [262]:
Salary_df

,Company_Nmae,No_of_Salaries,Min-Max_Salary,Average_Salary
0,Delhivery,12 salaries,"₹705K\n₹11,495K","₹ 12,83,026"
1,Accenture,9 salaries,"₹571K\n₹2,200K","₹ 11,19,272"
2,IBM,7 salaries,"₹580K\n₹2,700K","₹ 7,52,445"
3,Ericsson-Worldwide,7 salaries,"₹468K\n₹1,595K","₹ 8,28,000"
4,UnitedHealth Group,7 salaries,"₹708K\n₹1,557K","₹ 13,21,601"
5,Analytics Vidhya,7 salaries,₹14K\n₹22K,"₹ 20,889"
6,Tata Consultancy Services,6 salaries,"₹488K\n₹1,000K","₹ 6,33,432"
7,Cognizant Technology Solutions,6 salaries,"₹784K\n₹1,250K","₹ 9,96,446"
8,Valiance Solutions,6 salaries,"₹496K\n₹1,138K","₹ 7,71,320"
9,Vidooly Media Tech,6 salaries,₹8K\n₹20K,"₹ 12,669"

In [263]:
driver.close()

# Ques-6-Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 1. Brand 2. Product Description 3. Price 4. Discount %

In [309]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [310]:
url_6=[]

In [311]:
url_6.append("https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off")

In [312]:
url_6.append("https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=2")
url_6.append("https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=3")

In [313]:
Brand_name=[]
Product_Description=[]
Price=[]
Discount=[]

In [314]:
brand=" "

In [315]:
for i in url_6:
    driver.get(i)
    
    #extracting the brand_name web element from the webpage
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        brand=j.text
        Brand_name.append(brand)

In [316]:
len(Brand_name)

120

In [317]:
b_name=Brand_name[0:100]

In [320]:
for i in url_6:
    driver.get(i)
    
    #extracting the product_description web element from the webpage
    for j in driver.find_elements_by_xpath("//a[@class='IRpwTa']"):
        pro=j.text
        print(pro)
        Product_Description.append(pro)

Polarized Aviator Sunglasses (58)
UV Protection, Mirrored Retro Square Sunglasses (53)
UV Protection Round Sunglasses (Free Size)
UV Protection Retro Square Sunglasses (Free Size)
Gradient, Mirrored, UV Protection, Polarized Round, Rou...
UV Protection Retro Square Sunglasses (Free Size)
Polarized Aviator Sunglasses (54)
Gradient, Mirrored, UV Protection Round, Round, Round S...
Gradient, Mirrored, UV Protection Aviator Sunglasses (F...
Gradient, UV Protection Wayfarer Sunglasses (Free Size)
Polarized Sports Sunglasses (68)
Mirrored Aviator Sunglasses (Free Size)
Polarized, UV Protection, Gradient Rectangular Sunglass...
UV Protection Rectangular Sunglasses (Free Size)
Night Vision, UV Protection Rectangular Sunglasses (45)
UV Protection, Riding Glasses Rectangular Sunglasses (F...
UV Protection, Gradient Rectangular Sunglasses (Free Si...
UV Protection Spectacle Sunglasses (Free Size)
UV Protection Over-sized Sunglasses (60)
UV Protection Aviator Sunglasses (54)
UV Protection Wayfarer, Sports, Shield, Rectangular, Re...
UV Protection, Polarized Aviator Sunglasses (Free Size)
Polarized Sports Sunglasses (65)
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Aviator Sunglasses (58)
UV Protection Aviator Sunglasses (Free Size)
UV Protection, Riding Glasses, Night Vision Sports Sung...
Riding Glasses, UV Protection Oval Sunglasses (52)
UV Protection Wayfarer Sunglasses (Free Size)
Mirrored Aviator Sunglasses (55)
Polarized, UV Protection, Gradient Aviator Sunglasses (...
Gradient Spectacle Sunglasses (Free Size)
UV Protection, Polarized Round Sunglasses (Free Size)
UV Protection Round Sunglasses (Free Size)
Mirrored Wayfarer Sunglasses (Free Size)
UV Protection Aviator Sunglasses (Free Size)
UV Protection Aviator Sunglasses (55)
Polarized Aviator Sunglasses (58)
UV Protection Retro Square Sunglasses (Free Size)
UV Protection Rectangular Sunglasses (60)
UV Protection Aviator Sunglasses (54)
Polarized Aviator Sunglasses (54)
UV Protection Wayfarer Sunglasses (56)
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection Aviator Sunglasses (Free Size)
UV Protection Aviator Sunglasses (54)
UV Protection, Gradient Wayfarer Sunglasses (55)
UV Protection Over-sized Sunglasses (60)
Mirrored Round Sunglasses (53)
UV Protection, Mirrored Retro Square Sunglasses (53)
Polarized Sports Sunglasses (68)
Gradient, UV Protection Aviator Sunglasses (99)
UV Protection Round, Oval, Spectacle , Clubmaster, Wayf...
UV Protection Wayfarer Sunglasses (Free Size)
Night Vision, UV Protection Rectangular Sunglasses (45)
Mirrored, UV Protection Retro Square Sunglasses (Free S...
UV Protection Wayfarer Sunglasses (Free Size)
UV Protection, Polarized Retro Square Sunglasses (59)
UV Protection, Riding Glasses, Night Vision Sports Sung...
UV Protection, Others Aviator Sunglasses (Free Size)
UV Protection Aviator Sunglasses (53)
UV Protection Wayfarer Sunglasses (32)
UV Protection Spectacle Sunglasses (Free Size)
Polarized Sports Sunglasses (65)
UV Protection Round Sunglasses (54)
UV Protection Retro Square Sunglasses (Free Size)
UV Protection Round Sunglasses (54)
UV Protection Wayfarer Sunglasses (Free Size)
Polarized Aviator Sunglasses (58)
UV Protection Oval Sunglasses (56)
Polarized Aviator Sunglasses (54)
UV Protection, Mirrored Clubmaster Sunglasses (Free Siz...
UV Protection Round Sunglasses (Free Size)
UV Protection, Polarized Aviator Sunglasses (Free Size)
UV Protection, Polarized, Gradient Rectangular, Retro S...
Gradient, UV Protection Round, Round Sunglasses (20)
UV Protection Over-sized Sunglasses (60)
UV Protection Wayfarer Sunglasses (55)
UV Protection Round Sunglasses (Free Size)
Riding Glasses, Night Vision Wrap-around Sunglasses (Fr...
UV Protection Retro Square Sunglasses (Free Size)
Polarized Sports Sunglasses (68)
Mirrored Round Sunglasses (Free Size)
UV Protection Aviator Sunglasses (57)
Night Vision, UV Protection Rectangular Sunglasses (45)
UV Protection Retro Square Sunglasses (Free Size)
Polarized, UV Protection Aviator Sunglasses (Free Size)
Polarized, UV Protection Retro Square Sunglasses (53)
Polarized Sports Sunglasses (65)

In [322]:
for i in url_6:
    driver.get(i)
    
    #extracting the price web element from the webpage
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        pric=j.text
        Price.append(pric)

In [323]:
len(Price)

120

In [324]:
Price=Price[0:100]

In [330]:
for i in url_6:
    driver.get(i)
    
    #extracting the discount web element from the webpage
    for j in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span[1]"):
        dis=j.text
        Discount.append(dis)

In [331]:
len(Discount)

120

In [332]:
Discount=Discount[0:100]

In [333]:
 Product_Description= Product_Description[0:100]

In [334]:
Sunglasses_df=pd.DataFrame({})

In [335]:
Sunglasses_df['Brand']=b_name
Sunglasses_df['Description']=Product_Description
Sunglasses_df['Price']=Price
Sunglasses_df['Discount']=Discount

In [336]:
Sunglasses_df

,Brand,Description,Price,Discount
0,Royal Son,ROYAL SON,₹664,66% off
1,Royal Son,ROYAL SON,₹711,64% off
2,Phenomenal,ROYAL SON,₹399,80% off
3,shah collections,ROYAL SON,₹331,80% off
4,Trendy Glasses,ROYAL SON,₹236,81% off
...,...,...,...,...
95,The Blue Pink,Polarized Aviator Sunglasses (54),₹119,48% off
96,shah collections,"Gradient, Mirrored, UV Protection Round, Round...",₹331,80% off
97,MAXX,"Gradient, Mirrored, UV Protection Aviator Sung...",₹215,79% off
98,like future,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹229,82% off
99,Specsmakers,Polarized Sports Sunglasses (68),₹569,71% off

In [337]:
driver.close()

# Ques-7- Scrape 100 reviews data from flipkart.com for iphone11 phone

In [363]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [339]:
url_7=[]

In [340]:
url_7.append("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")
url_7.append("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=2")
url_7.append("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=3")
url_7.append("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=4")
url_7.append("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=5")
url_7.append("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=6")
url_7.append("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=7")
url_7.append("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=8")
url_7.append("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=9")
url_7.append("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART&page=10")

In [341]:
Ratings=[]
Review_Summary=[]
Full_Review=[]

In [364]:
for i in url_7:
    driver.get(i)
    
    #extracting the rating  web element from the webpage
    for j in driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']"):
        rate=j.text
        Ratings.append(rate)

In [367]:
len(Ratings)

100

In [345]:
for i in url_7:
    driver.get(i)
    
    #extracting the Full_summary web element from the webpage
    for j in driver.find_elements_by_xpath("//div[@class='t-ZTKy']"):
        R_S=j.text
        Review_Summary.append(R_S)

In [346]:
len(Review_Summary)

100

In [348]:
for i in url_7:
    driver.get(i)
    
    #extracting the Review_summary web element from the webpage
    for j in driver.find_elements_by_xpath("//p[@class='_2-N8zT']"):
        R_S=j.text
        Full_Review.append(R_S)

In [349]:
len(Full_Review)

100

In [371]:
Iphone_review_df=pd.DataFrame({})

In [372]:
Iphone_review_df['Ratings']=Ratings
Iphone_review_df['Review_Summary']=Full_Review
Iphone_review_df['Full_Review']=Review_Summary

In [373]:
Iphone_review_df

,Ratings,Review_Summary,Full_Review
0,5,Perfect product!,Amazing phone with great cameras and better ba...
1,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
2,5,Perfect product!,It’s a must buy who is looking for an upgrade ...
3,5,Highly recommended,iphone 11 is a very good phone to buy only if ...
4,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
...,...,...,...
95,3,Nice,Iphone 11 black 64gb is really a cool phone\n\...
96,5,Nice,"Although it’s an iPhone, it doesn’t give anyth..."
97,5,Just wow!,Apple i Phone is the best phone available in t...
98,4,Brilliant,use outside gives a outstanding experience ......
99,4,Delightful,Just the display held it from being a 5star ph...

In [374]:
driver.close()

# Ques-8-Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field

In [416]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [417]:
url_8=[]

In [418]:
url_8.append("https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=bad2edc3-6996-451a-b1af-b73cecba0b61&as-searchtext=snea")
url_8.append("https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=bad2edc3-6996-451a-b1af-b73cecba0b61&as-searchtext=snea&page=2")
url_8.append("https://www.flipkart.com/search?q=sneakers&sid=osp%2Ccil%2Ce1f&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_4_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sneakers%7CMen%27s+Casual+Shoes&requestId=bad2edc3-6996-451a-b1af-b73cecba0b61&as-searchtext=snea&page=3")

In [419]:
Sneak_Brand_name=[]
Sneak_Product_Description=[]
Sneak_Price=[]
Sneak_Discount=[]

In [420]:
for i in url_8:
    driver.get(i)
    
    #extracting the Brand_Name web element from the webpage
    for j in driver.find_elements_by_xpath("//div[@class='_2WkVRV']"):
        R_S=j.text
        Sneak_Brand_name.append(R_S)

In [421]:
len(Sneak_Brand_name)

120

In [422]:
for i in url_8:
    driver.get(i)
    
    #extracting the Brand_name web element from the webpage
    for j in driver.find_elements_by_xpath("//div[@class='_2B099V']//a[1]"):
        p_d=j.text
        Sneak_Product_Description.append(p_d)

In [423]:
len(Sneak_Product_Description)

120

In [424]:
for i in url_8:
    driver.get(i)
    
    #extracting the Brand_name web element from the webpage
    for j in driver.find_elements_by_xpath("//div[@class='_30jeq3']"):
        pric=j.text
        Sneak_Price.append(pric)

In [425]:
len(Sneak_Price)

120

In [426]:
for i in url_8:
    driver.get(i)
    
    #extracting the Brand_name web element from the webpage
    for j in driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']"):
        dis=j.text
        Sneak_Discount.append(dis)

In [427]:
len(Sneak_Discount)

119

In [428]:
Sneak_Brand_name=Sneak_Brand_name[0:100]
Sneak_Product_Description=Sneak_Product_Description[0:100]
Sneak_Price=Sneak_Price[0:100]
Sneak_Discount=Sneak_Discount[0:100]

In [429]:
Sneakers_df=pd.DataFrame({})

In [430]:
Sneakers_df['Brand_Name']=Sneak_Brand_name
Sneakers_df['_Product_Description']=Sneak_Product_Description
Sneakers_df['Price']=Sneak_Price=Sneak_Price
Sneakers_df['Discount']=Sneak_Discount=Sneak_Discount

In [431]:
Sneakers_df

,Brand_Name,_Product_Description,Price,Discount
0,Rockfield,Sneakers For Men,₹426,57% off
1,TR,Sneakers For Men,₹449,77% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹579,70% off
3,Chevit,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹273,45% off
4,Robbie jones,Casual Sneakers Shoes For Men Sneakers For Men,₹399,60% off
...,...,...,...,...
95,Aura,"Combo Pack of 5 Casual Shoes Sneakers, Loafers...",₹629,74% off
96,Puma,Mercedes Drift Cat 8 Sneakers For Men,"₹7,999",52% off
97,Essence,Sneakers For Men,₹474,55% off
98,Rockfield,Sneakers For Men,₹449,60% off
99,T-Rock,Sneakers For Men,₹399,64% off

In [432]:
driver.close()

# Ques-9-

In [461]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [462]:
url_9="https://www.myntra.com/shoes?plaEnabled=false&rf=Price%3A6619.0_13079.0_6619.0%20TO%2013079.0"

In [463]:
driver.get(url_9)

In [ ]:
driver.find_element_by_xpath("//div[@class='common-checkboxIndicator']").click()

In [452]:
d=driver.find_element_by_xpath("//li[@class='colour-listItem']")

In [456]:
url_09="https://www.myntra.com/shoes?plaEnabled=false&rf=Price%3A6619.0_13079.0_6619.0%20TO%2013079.0"

In [457]:
driver.get(url_09)

In [ ]:
driver.find_element_by_xpath("//li[@class='colour-listItem']/div[@class='common-checkboxIndicator']").click()

In [466]:
t.find_element_by_xpath("//div[@class='common-checkboxIndicator']").click()

In [469]:
driver.close()

# Ques-10

In [470]:
#Connecting to web driver
driver=webdriver.Chrome(r"C:/Users/Akshai/Downloads/chromedriver_win32 (1)/chromedriver.exe")

In [471]:
url_10="https://www.amazon.com/s?k=laptop&rh=n%3A565108%2Cp_n_feature_four_browse-bin%3A2289792011&dc&qid=1607263085&rnid=676578011&ref=sr_nr_p_n_feature_four_browse-bin_22"

In [472]:
driver.get(url_10)

In [473]:
Laptop_Brand_name=[]
Laptop_Price=[]
Laptop_Ratings=[]

In [474]:
lap_name=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")

In [477]:
for i in lap_name[0:10]:
    a=i.text
    print(a)
    Laptop_Brand_name.append(a)

Acer Spin 5 Convertible Laptop, 13.5" 2K 2256 x 1504 IPS Touch, 10th Gen Intel Core i7-1065G7, 16GB LPDDR4X, 512GB NVMe SSD, Wi-Fi 6, Backlit KB, FPR, Rechargeable Active Stylus, SP513-54N-74V2
Dell G3 15 3500 15 Inch FHD with 144Hz Refresh Rate Gaming Laptop, Intel Core i7-10750H 10th Gen, 16GB DDR4 RAM, 512GB SSD, Nvidia Geforce RTX 2060 6GB GDDR6, Windows 10 Home Black
Acer Spin 5 Convertible Laptop, 13.5" 2K 2256 x 1504 IPS Touch, 10th Gen Intel Core i7-1065G7, 16GB LPDDR4X, 512GB NVMe SSD, Wi-Fi 6, Backlit KB, FPR, Rechargeable Active Stylus, SP513-54N-74V2
LG Gram 2-in-1 Convertible Laptop: 14" Full HD IPS Touchscreen Display, Intel 10th Gen Core i7-10510U CPU, 16GB RAM, 1TB (512GB x 2) M.2 MVMe SSD, Thunderbolt 3, 20.5 Hour Battery 14T90N (2020)
Microsoft Surface Laptop 3 for Business Ultra-Thin 15” Touchscreen Laptop Black (Metal) - Intel 10th Gen Quad Core i7, 16GB RAM, 512GB SSD, Windows 10 Pro, 2019 Edition - Black(Metal)
LG Gram Laptop - 14" Full HD IPS Display, Intel 10th Gen Core i7-1065G7 CPU, 16GB RAM, 512GB M.2 MVMe SSD, Thunderbolt 3, 18.5 Hour Battery Life - 14Z90N (2020)
2020 Asus VivoBook 15 Thin & Light Laptop: 10th Gen Core i7-1065G7, 256GB SSD, 8GB RAM, 15.6" Full HD Display, Backlit Keyboard, Windows 10
LG Ultra PC High Performance Laptop - 17" IPS WQXGA (2560 x 1600) Display and Intel 10th Generation Intel Core i7-10510U CPU, NVIDIA GTX1650 GDDR5 4GB, 16GB DDR4 2666 MHz RAM - 512GB NVMe SSD
OEM Lenovo ThinkPad E15 15.6" FHD Display 1920x1080 IPS, Intel Quad Core i7-10510U, 16GB RAM, 1TB SSD, W10P, Business Laptop
HP 15-cs3019nr Pavilion 15.6-Inch Laptop, Intel Core i7 (Mineral Silver)

In [478]:
len(Laptop_Brand_name)

10

In [479]:
lap_price=driver.find_elements_by_xpath("//a[@class='a-size-base a-link-normal a-text-normal']")

In [481]:
for i in lap_price[0:10]:
    a=i.text
    print(a)
    Laptop_Price.append(a)

$1,099
99
$1,300
00
$1,099
99
$2,499
00
$1,246
99
$1,599.99
$633
95
$1,296
99
$1,699.99
$1,179
95
$1,028
00
$1,757
51

In [482]:
len(Laptop_Price)

10

In [522]:
page=requests.get("https://www.amazon.com/s?k=laptop&rh=n%3A565108%2Cp_n_feature_four_browse-bin%3A2289792011&dc&qid=1607263085&rnid=676578011&ref=sr_nr_p_n_feature_four_browse-bin_22")

In [523]:
soup=BeautifulSoup(page.content,'html.parser')

In [530]:
lap_rate=soup.find_all("a",class_="a-popover-trigger a-declarative")

In [531]:
lap_rate

[]

In [502]:
for i in lap_rate[0:10]:
    a=i.text
    print(a)
    #Laptop_Ratings.append(a)

not able to fetch the rating as none of the tag is returning web element and 
on opening it in the new window it is showing the page is blocked

In [532]:
Laptop_df=pd.DataFrame({})

In [533]:
Laptop_df['Name']=Laptop_Brand_name
Laptop_df['Price']=Laptop_Price

In [534]:
Laptop_df

                                                Name                  Price
0  Acer Spin 5 Convertible Laptop, 13.5" 2K 2256 ...             $1,099\n99
1  Dell G3 15 3500 15 Inch FHD with 144Hz Refresh...             $1,300\n00
2  Acer Spin 5 Convertible Laptop, 13.5" 2K 2256 ...             $1,099\n99
3  LG Gram 2-in-1 Convertible Laptop: 14" Full HD...             $2,499\n00
4  Microsoft Surface Laptop 3 for Business Ultra-...  $1,246\n99\n$1,599.99
5  LG Gram Laptop - 14" Full HD IPS Display, Inte...               $633\n95
6  2020 Asus VivoBook 15 Thin & Light Laptop: 10t...  $1,296\n99\n$1,699.99
7  LG Ultra PC High Performance Laptop - 17" IPS ...             $1,179\n95
8  OEM Lenovo ThinkPad E15 15.6" FHD Display 1920...             $1,028\n00
9  HP 15-cs3019nr Pavilion 15.6-Inch Laptop, Inte...             $1,757\n51

In [535]:
driver.close()